<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {{ encore_entry_link_tags('app') }}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block stylesheets %}{% endblock %}
</head>
<body>
    <div id="app">
        {% block navBar %}
            <nav id="header">
                <Vueheader></Vueheader>
            </nav>
        {% endblock %}
        <main role="main" id="main">
            <div>
                {% block body %}
                {% endblock %}
            </div>
        </main>
        {% block footer %}
            <footer id="footer">
                <Vuefooter></Vuefooter>
            </footer>
        {% endblock %}
    </div>
</body>

{{ encore_entry_script_tags('app') }}
{% block javascripts %}{% endblock %}
</html>

