<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {{ encore_entry_link_tags('app') }}
  
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block stylesheets %}{% endblock %}
</head>
<body>
    <div id="app">
            <nav id="header">
                <Vueheader></Vueheader>
            </nav>
        <main role="main" id="main">
            <div>
                {% block main %}
                {% endblock %}
            </div>
        </main>
            <footer id="footer">
                <Vuefooter></Vuefooter>
            </footer>
    </div>
</body>

{{ encore_entry_script_tags('app') }}
{% block javascripts %}{% endblock %}
</html>

