<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}Welcome!
            {% endblock %}
        </title>
        {{ encore_entry_link_tags("#{assets_prefix ?? ''}app") }}

        <meta content="width=device-width, initial-scale=1" name="viewport"> {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div id="app">
            <v-app>
                {% if app.user %}
                    <m-header :user="{{app.user|json_encode}}"></m-header>
                {% else %}
                    <m-header></m-header>
                {% endif %}

                <v-content>
                    {% block main %}{% endblock %}
                </v-content>

                {% block footer %}
                    <m-footer></m-footer>
                {% endblock %}
            </v-app>
        </div>
    </body>

    {{ encore_entry_script_tags("#{assets_prefix ?? ''}app") }}
    {% block javascripts %}{% endblock %}
</html>