<footer class="common-footer" role="contentinfo">
    <div class="container content has-text-centered">
        <div>
            <p class="footer-font">Réseaux sociaux</p>
            <div class="columns is-centered">
                <a href='https://www.facebook.com/Mobicoop/' target="blank"><img src='/images/footer/facebook.svg' alt="logo-facebook"/></a></br>
                <a href='https://twitter.com/MobicoopCovoit?lang=fr' target="blank"><img src='/images/footer/twitter.svg' alt="logo-twitter"/></a></br>
                <a href='https://www.instagram.com/mobicoopcovoiturage/' target="blank"><img src='/images/footer/instagram.svg' alt="logo-instagram"/></a></br>
                <a href='https://framasphere.org/people/9bfd3a40f8fb0134e71f2a0000053625' target="blank"><img src='/images/footer/framasphere.svg' alt="logo-framasphere"/></a>
            </div>
        </div>
        <div>
            <p class="footer-font">Mobicoop</p>
            <div>
                <p>
                    <strong>Mobicoop</strong> by <a href="https://mobicoop.io">Mobicoop team</a>. The source code is
                    licensed
                    <a href="#">AGPL3</a>. The website content
                    is licensed <a href="#">AGPL3 too</a>.
                </p>
            </div>
        </div>
    </div>
</footer>