{
  "serviceName": {
    "queries": ["query1", "query2"],
    "upload": {
      "protocol": "sftp",
      "serverUri": "server domain or ip without ftp:// or sftp://",
      "remotePath": "remote path for the file",
      "login": "login",
      "password": "password"
    }
  }
}
