{
    "contacts":
    [
        {        
            "label":"infos",
            "To":[
                "contact@yourdomain.com","contact2@yourdomain.com"
            ],
            "Cc":[
                "contact@yourdomain.com","contact2@yourdomain.com"
            ],
            "Bcc":[
                "contact@yourdomain.com","contact2@yourdomain.com"
            ]
        },
        {        
            "label":"technicalIssues",
            "To":[
                "contact@yourdomain.com","contact2@yourdomain.com"
            ],
            "Cc":[
                "contact@yourdomain.com","contact2@yourdomain.com"
            ],
            "Bcc":[
                "contact@yourdomain.com","contact2@yourdomain.com"
            ]
        },
        {        
            "label":"partnership",
            "To":[
                "contact@yourdomain.com","contact2@yourdomain.com"
            ],
            "Cc":[
                "contact@yourdomain.com","contact2@yourdomain.com"
            ],
            "Bcc":[
                "contact@yourdomain.com","contact2@yourdomain.com"
            ]
        }
    ]
}