{
  "private":[
    {
      "type": "interfaces/front || interfaces/admin",
      "url": "http://github.com/front-or-admin-repo-wich-use-api"
    },
    {
      "type": "interfaces/front || interfaces/admin",
      "url": "http://github.com/front2-or-admin2-repo-wich-use-api" 
    }
  ] 
}