{# templates/emails/registration.html.twig #}
<h3>Avis de re-initialisation de mot de passe</h3>

<p>Bonjour {{ name }}! Nous accusons la reception de votre demande de réinitialisation du mot de passe.</p>

<p>Cliquez ici pour continuer le processus de: <a href="{{ url('user_password_forgot') }}">Reinitialisation</a>.</p>

Merci!
