{
    "service":{
        "name":"Service name",
        "baseUri":"https://serviceBaseUri/",
        "clientId":"clientId",
        "clientSecret":"clientSecret",
        "autoCreateAccount":true,
        "logOutRedirectUri":""
    }
}