{
    "service":{
        "name":"Service name",
        "baseUri":"https://serviceBaseUri/",
        "clientId":"clientId",
        "clientSecret":"clientSecret",
        "autoCreateAccount":true,
        "externalAccountDeletion": false,
        "logOutRedirectUri":"",
        "codeVerifier": null,
        "response_mode": "query",
        "response_type": "code"
    }
}
