$primary: #81F19A;
$secondary: #023D7F;
$tertiary: #F13FA8;
$primary-dark: #005933;
$white: #FFF;
$black: #000;

$primary-invert: findColorInvert($primary);
$secondary-invert: findColorInvert($secondary);
$tertiary-invert: findColorInvert($tertiary);
$primary-dark-invert: findColorInvert($primary-dark);

$main-font-color: $primary-dark;
$main-background-color: $white;
$nav-background-color: $primary;
$footer-background-color: $primary;

// breadcrumb config
$breadcrumb-item-padding-horizontal: 2vw;
$breadcrumb-item-color: $secondary;

$focusColor:  #F8D613;

@mixin is-mobicoop($color) {
  background: $color;
  border-color: transparent;
  color: $white;
}

@mixin outlinedFocus($color) {
  &:focus {
    outline: 3px solid $color;
  }
}
