/*****************************
      SIMPLE SEARCH RESULTS
******************************/
@import '../../app.scss';
body {
  #search {
    margin-top: 2vw;
    color: $white;
  }
  .search {
    background-color: $tertiary;
    border-radius: 10px;
    border: dotted;
    height: 15vw;
    width: 50vw;
    padding: 1vw;
    align-self: center;
  }
  .textContent {
    border-bottom: solid $white;
  }
  .labelOrigin {
    color: $secondary;
  }
  .labelDestination {
    color: $primary;
  }
  .dot {
    height: 35px;
    width: 35px;
    background-color: $primary;
    border-radius: 50%;
    display: inline-block;
  }
  .underlined {
    color: $white;
    text-decoration: underline;
  }
  #rechercher,
  #save {
    background-color: $white;
    box-shadow: 2px 2px 2px #000;
    padding: 0;
    font-size: 100%;
    font-family: inherit;
    font-weight: bold;
    border-radius: 20px;
    color: $tertiary;
    &:hover {
      color: $white;
      background-color: $tertiary;
    }

    @include outlinedFocus($focusColor);
  }
  #origin {
    box-shadow: none;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    outline: none;
    border-bottom: solid 1px $white;
    border-radius: 0;
    background-color: $tertiary;

    @include outlinedFocus($focusColor);
    .input {
      color: $white;
    }
    ::placeholder {
      color: $white;
      opacity: 1;
    }
  }
  #destination {
    box-shadow: none;
    border: 0;
    outline: 0;
    border-bottom: solid 1px $white;
    border-radius: 0;
    background-color: $tertiary;

    @include outlinedFocus($focusColor);
    .input {
      color: $white;
    }
    ::placeholder {
      color: $white;
      opacity: 1;
    }
  }
  .results {
    background-color: $primary;
    border-radius: 10px;
    height: 15vw;
    width: 50vw;
    padding: 1vw;
    align-self: center;
  }
}
