{% extends '@Mobicoop/base.html.twig' %}

{% block title %}
  {{ metaDescription }}
{% endblock %}

{% block stylesheets %}
  {{ encore_entry_link_tags("#{assets_prefix ?? ''}home") }}
{% endblock %}

{% block main %}

  {% include "@Mobicoop/components/HomeSearch.html.twig" %}


  <section>
    <a class="lien" href="{{ path('community_list') }}">Liste des communautés</a>
  </section>
{% endblock %}

{% block javascripts %}
  {{ encore_entry_script_tags("#{assets_prefix ?? ''}home") }}
{% endblock %}
