{
    "name": "mobicoop",
    "origin": "mobicoop.io",
    "url": "https://www.mobicoop.io/",
    "resultRoute": {
        "fr": "covoiturage/rdex/{externalId}",
        "en": "carpool/rdex/{externalId}"
    }
}