# configuration file for rdex
parameters:
    
    # configuration for this instance as an operator
    rdex_operator:
        name: 'mobicoop'
        origin: 'mobicoop.io'
        url: 'https://www.mobicoop.io/'
    
    # configuration for clients => add an entry for each client
    rdex_clients:
    # - {client: "name", public_key: "public_key", private_key: "private_key"}

    # configuration for providers => add an entry for each provider
    rdex_providers:
    # - {provider: "name", url: "url", resource: 'resource', api_key: "api_key", private_key: "private_key"}