@import '~bulma/sass/utilities/_all';
@import '../../_variables';
$colors: (
  'primary': ($primary, $primary-invert),
  'secondary': ($secondary, $secondary-invert),
  'tertiary': ($tertiary, $tertiary-invert),
  'dark': ($primary-dark, $primary),
  'white': ($white, $black),
  'black': ($black, $white),
  'light': ($light, $light-invert),
  'success': ($success, $success-invert),
  'warning': ($warning, $warning-invert),
  'danger': ($danger, $danger-invert),
);

$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

@import '~bulma';
@import '~buefy/src/scss/buefy';
@import '../../app.scss';
h1 {
  text-align: center;
}
.paragraph {
  margin-bottom: 2vh;
  color: $black;
}
