@import '../../app.scss';
body {
  .v-application--wrap {
    min-height: auto !important;
  }
  .section {
    padding: 0;
    .container {
      max-width: 100%;
    }
  }
  #messages {
    #headGridMessages {
      color: #FFF;
      font-weight: bold;
      font-size: 20px;
      div {
        background-color: $secondary;
      }
    }
    #spinnerMessages {
      .v-card__text {
        background-color: $secondary;
        color: #FFF;
      }
    }
    //height: 1000px;
    #threadColumn {
      //background-color: #F00;
      .threads {
        margin-bottom: 10px;
        background-color: #FFF;
        color: #000;
        &.selected {
          background-color: $primary;
        }
        &:hover {
          cursor: pointer;
        }
      }
    }
    #messagesColumn {
      //background-color: #80F19A;
      .v-timeline {
        .v-timeline-item {
          &.divider {
            div {
              width: 100%;
              max-width: 100%;
              text-align: center;
              background-color: #FFF;
              .datesDividers {
                color: $secondary;
                font-weight: bold;
              }
              &.v-timeline-item__divider {
                display: none;
              }
            }
          }
          &.own {
            .v-timeline-item__body {
              .v-card {
                background-color: $primary;
              }
            }
          }
          .v-timeline-item__body {
            font-weight: bold;
          }
        }
      }
      #validSendMessage {
        font-weight: bold;
      }
    }
    #contextColumn {
      //background-color: #00F;
    }
  }
}
