{
    "default":{
        "dataprovider":"name used in PTDataProvider",
        "url":"url of the api with end /",
        "username":"",
        "apikey":"",
        "params":{"key":"value","key2":"value2"},
        "ptProviderName":"",
        "ptProviderUrl":"",
        "threshold":0,
        "threshold_granularity": "day"

    },
    "idterritory":{
        "dataprovider":"name used in PTDataProvider",
        "url":"url of the api with end /",
        "username":"",
        "apikey":"",
        "params":{},
        "ptProviderName":"",
        "ptProviderUrl":"",
        "threshold":0,
        "threshold_granularity": "day"
    }
}
