/* Welcome to Coviride main SASS file, this file require all the sub-elements */
@import '_variables';
@import '_header';
@import '~bulma/sass/utilities/_all';
body {
  background-color: $mainBackgroundColor;
  color: $mainFontColor;
  font-size: 45px;
  h1 {
    font-size: 75px;
  }
}

// Import Bulma and Buefy styles
@import '~bulma';
@import '~buefy/src/scss/buefy';
