{# CAREFUL : Some client might need to replicate this template #}
{% extends '/email/notification/base.html.twig' %}
{% block body %}
 <p>Un utilisateur a posté une annonce qui peut vous intéresser.</p>
{% endblock %}