{% extends '/email/notification/base.html.twig' %}
{% block body %}
    <p>{{ "beCarefulFewDaysAnnouncementNotValid"|trans }}.</p>

    <p>{{ "nowYouAreMore"|trans }} @NbInscrits  {{ "toUseTheService"|trans}}.</p>
{% endblock %}