{% extends '/email/notification/base.html.twig' %}
{% block body %}
<p>{{ "Nous sommes content de vous rendre service."|trans }}</p>
<p>{{ "Nous vous notifions par ce message que votre annonce a été posté avec succes!"|trans }}</p>
<p>{{ "Merci"| trans }}!</p>
{% endblock %}