{% extends '/email/notification/base.html.twig' %}
{% block body %}
    @PrenomOuPseudoConducteur {{ notBeAbleToCarpoolWithYouFor |trans }}  @DateVoyage  {{ towards|trans }} @AdresseDepose .</p>
    <p>{{ hisMessage |trans }} @Commentaires </p>
    @Commentaires
{% endblock %}