{# CAREFUL : Some client might need to replicate this template #}
{% extends '/email/notification/base.html.twig' %}
{% block body %}
    <p>Un administrateur solidaire vous contacte.</p>
    <p>{{ context.text }}</p>
{% endblock %}