{% extends 'base.html.twig' %}
{% block body %}
    {# templates/emails/registration.html.twig #}

    <p>{{ "Vous avez demandé un nouveau mot de passe."|trans }}</p>
    <p>{{ "Veuillez cliquer sur ce lien pour changer votre mot de passe :"|trans }} {{ api_env('CLIENT_URL') ~ api_env('CLIENT_RESET_PWD_URI')|replace({':token':context.user.token}) }}</p>
    <p>{{ "Merci!"|trans }}</p>
{% endblock %}