{% extends 'base.html.twig' %}
{% block body %}
    {# templates/emails/registration.html.twig #}

    <p>Bonjour {{ context.user.givenName }}!</p>
    <p>nous voulons vous informer que votre mot de passe a été réinitialisé </p>
    <p>Cordialement</p>
{% endblock %}