{% extends 'base.html.twig' %}
{% block body %}
    {# templates/emails/registration.html.twig #}

    <p>Bonjour {{ context.user.givenName }}! Nous accusons la reception de votre demande de réinitialisation du mot de passe.</p>

    <p>Cliquez ici pour continuer le processus de: <a href="{{ url('user_password_reset', {'token': context.user.token }) }}">Reinitialisation</a>.</p>

    Merci!
{% endblock %}