{% extends 'base.html.twig' %}
{% block body %}
    {# templates/emails/registration.html.twig #}
    <h3>Confirmation de re-initialisation de mot de passe</h3>

    <p>Bonjour {{ context.user.name }}!</p>
    <p>nous voulons vous informer que votre mot de passe a été réinitialisé </p>
    <p>Cordialement</p>
{% endblock %}