/*
* This files should contians all common variables to be used between *.scss files
* the _ in the name means it's a partial file dude! So it will not be generated as a _variable.css 👌
*/

$mainFontColor: #000;
$mainBackgroundColor: #FFF;
$secondBackgroundColor: #0FF;
