/* Welcome to Coviride main SASS file, this file require all the sub-elements */
@import '_variables';
@import '_header';
body {
  background-color: $mainBackgroundColor;
  color: $mainFontColor;
  font-size: 15px;
}
