monolog:
    handlers:
        carpool:
            type: stream
            level: debug
            path: "%kernel.logs_dir%/carpool.log"
            channels: [carpool]
        communication:
            type: stream
            level: debug
            path: "%kernel.logs_dir%/communication.log"
            channels: [communication]
        community:
            type: stream
            level: debug
            path: "%kernel.logs_dir%/community.log"
            channels: [community]
        geomatcher:
            type: stream
            level: debug
            path: "%kernel.logs_dir%/geomatcher.log"
            channels: [geomatcher]
        georouter:
            type: stream
            level: debug
            path: "%kernel.logs_dir%/georouter.log"
            channels: [georouter]              
        mass:
            type: stream
            level: debug
            path: "%kernel.logs_dir%/mass.log"
            channels: [mass]         
        notification:
            type: stream
            level: debug
            path: "%kernel.logs_dir%/notification.log"
            channels: [notification]          
        main:
            type: stream
            path: "%kernel.logs_dir%/%kernel.environment%.log"
            level: debug
            channels: ["!event", "!carpool", "!communication", "!community", "!geomatcher", "!georouter", "!mass", "!notification"]
   
        # uncomment to get logging in your browser
        # you may have to allow bigger header sizes in your Web server configuration
        #firephp:
        #    type: firephp
        #    level: info
        #chromephp:
        #    type: chromephp
        #    level: info
        console:
            type: console
            process_psr_3_messages: false
            channels: ["!event", "!doctrine", "!console", "!carpool", "!communication", "!community", "!geomatcher", "!georouter", "!mass", "!notification"]