{% extends '@Mobicoop/base.html.twig' %}

{% block title %}Les Communautés{% endblock %}
{% block stylesheets %}
  {{ encore_entry_link_tags('bundle_app') }}
{% endblock %}
{% block body %}
    <section class="hero firstSection">
    </section>
    <section>
    {{dump(communities)}}
    </section>
    <section class="hero lastSection">
    </section>
{% endblock %}
{% block javascripts %}
  {{ encore_entry_script_tags('bundle_app') }}
{% endblock %}