{% extends '@Mobicoop/base.html.twig' %}

{% block title %}Les Communautés{% endblock %}
{% block stylesheets %}
{% endblock %}
{% block body %}
    <section class="hero firstSection">
    </section>
    <section>
    {{dump(communities)}}
    </section>
    <section class="hero lastSection">
    </section>
    <section class="hero communautes has-text-centered">
    <a class="lien" href="{{ path('community_create') }}">Créer une communauté</a>
    </section>
{% endblock %}
{% block javascripts %}
{% endblock %}