{% extends '@Mobicoop/base.html.twig' %}

{% block title %}{% trans from 'ui' %}Communautés{% endtrans %}{% endblock %}

{% block body %}

<section class="hero is-secondary">
	<div class="hero-body">
    	<div class="container">
      		<h1 class="title">
              Création d'une communauté
      		</h1>
    	</div>
  	</div>
</section>

<section class="section">
	<div class="container is-secondary">
		{% if error %}
		<span class="tag is-danger">An error occured.</span>
		{% endif %}
        {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_end(form) }}
    </div>
</section>

{% endblock %}
