<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Welcome!{% endblock %}</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
   {{encore_entry_link_tags('app') }}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% block stylesheets %}{% endblock %}
</head>
<body>
  <nav class="navbar has-shadow commonNav">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="../">
          <img class="logo" src="{{asset('images/logo.jpg')}}" alt="Bulma: a modern CSS framework based on Flexbox"/>
        </a>
        <div class="navbar-burger burger" data-target="navMenu">
          <span></span><span></span><span></span>
        </div>
      </div>
      <div class="navbar-menu" id="navMenu">
        <div class="navbar-end">
          <div class="navbar-item has-dropdown is-hoverable" id="accountMenu"><a class="navbar-link">Account</a>
            <div class="navbar-dropdown">
              <a class="navbar-item">Dashboard</a>
              <a href="{{path('users')}}" class="navbar-item">Profile</a>
              <a class="navbar-item">Settings</a>
              <hr class="navbar-divider" />
              <div class="navbar-item">Logout</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <div id="app">
    {% block body %}{% endblock %}
  </div>

 
</body>
<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Covivo</strong> by <a href="https://roulezmalin.fr">Covivo team</a>. The source code is licensed
      <a href="#">AGPL3</a>. The website content
      is licensed <a href="#">AGPL3 too</a>.
    </p>
  </div>
</footer>
  {{ encore_entry_script_tags('app') }}
{% block javascripts %}{% endblock %}
</html>
