{% extends '@Mobicoop/base.html.twig' %}

{% block title %}Your result for search journey{% endblock %}

{% block body %}
    <Journey  :api-uri="'{!! $baseUri !!}'"></Journey>
    <p class="title is-1 is-spaced is-centered">List of externals journeys</p>
        <div class="columns is-multiline">
                        <div class="notification is-warning">
                            <button class="delete"></button>
                            <strong> No route found for this api</strong>
                        </div>

                        <div class="column is-one-quarter">
                            <div class="box">
                                <article class="media">
                                    <div class="media-left">
                                        <figure class="image is-64x64">
                                            <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
                                        </figure>
                                    </div>
                                    <div class="media-content">
                                        <div class="content">
                                            <strong>DRIVER alias</strong> <small>driver.gender</small>
                                            <span class="tag">mindate  - maxdate</span>
                                            <div class="columns">
                                                <div class="column is-2">
                                                    <div style="line-height: 1.8;">
                                                        <span class="tag is-primary is-rounded">From</span>
                                                        <br>
                                                        <span class="tag is-primary is-rounded">To</span>
                                                        <br>
                                                        <span class="tag is-info is-rounded">Info</span>
                                                        <br>
                                                        <span class="icon has-text-info" style="margin-left: 7px">
                                                    <i class="fas fa-info-circle"></i>
                                                </span>
                                                    </div>
                                                </div>
                                                <div class="column">
                                                    <div style="line-height: 1.8">
                                                        .city
                                                        <br>
                                                        city
                                                        <br>
                                                        details
                                                        <br>
                                                        <span class="tag" alt=".origin">
                                                            <a href=".origin ">origin</a>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                    <div class="notification is-warning">
                        <button class="delete"></button>
                        <strong>API STATE NOT FULFILLED</strong>
                    </div>
        </div>
        <span class="tag is-warning">No external journey found.</span>
{% endblock %}

{% block javascripts %}
    <!-- <script type="text/javascript" src="{{ asset('/build/externalJourney.js') }}"></script> -->
{% endblock %}

