{% extends '@Mobicoop/base.html.twig' %}

{% block title %}Your result for search journey{% endblock %}

{% block body %}
    <p class="title is-1 is-spaced is-centered">List of externals journeys</p>
    <Journey  :api-uri="'{{ baseUri }}'"></Journey>
{% endblock %}

{% block javascripts %}
    <!-- <script type="text/javascript" src="{{ asset('/build/externalJourney.js') }}"></script> -->
{% endblock %}

