@import '@css/app.scss';
@import 'communities.scss';
body {
  .dataValid {
    color: darkgreen;
    margin-left: 10px;
    font-weight: bold;
  }
  .dataInvalid {
    color: darkred;
    margin-left: 10px;
    font-weight: bold;
  }
}
