{% extends '@Mobicoop/base.html.twig' %}

{% block title %}
  {% trans from 'ui' %}user.login.title{% endtrans %}
{% endblock %}
{% block stylesheets %}
  {{ encore_entry_link_tags("#{assets_prefix ?? ''}user/login") }}
{% endblock %}

{% block main %}

<section class="section">
	<div class="container">
		<div id="login">
            <login
                :errormessage="{{ {'value': errorMessage}|json_encode(1) }}"
                :urlforgottenpassword="{{ { 'value':path('user_password_forgot')}|json_encode }}">
            </login>
		</div>
    </div>
  </section>
{% endblock %}

{% block javascripts %}
  {{ encore_entry_script_tags("#{assets_prefix ?? ''}user/login") }}
{% endblock %}
