# Configuration file
{

    "externalApis" : [
        {
            "name": "exampleName1",

            "uri" : "http://...",

            "apiPublicKey" : "/path/to/pubKey1",

            "apiPrivateKey" : "/path/to/privateKey1"

        },


        {
            "name": "exampleName2",

            "uri" : "http://...",

            "apiPublicKey" : "/path/to/pubKey2",

            "apiPrivateKey" : "/path/to/privateKey2"

        }

    ]

}

