{% extends '@Mobicoop/base.html.twig' %}

{% block title %}{{ metaDescription }}{% endblock %}
  {% block stylesheets %}
    {{ encore_entry_link_tags('home') }}
  {% endblock %}

  {% block body %}

    <autocomplete :items="[ 'Apple', 'Banana', 'Orange', 'Mango', 'Pear', 'Peach', 'Grape', 'Tangerine', 'Pineapple']" />
    <au
    <main class="homePage">
      <section class="hero is-info header">
        <div class="hero-body">
          <div class="container">
            <div id="app">
            </div>
          </div>
        </div>
      </section>
      <section id="journeyResult" class="journeyResult">
      </section>
    </main>

  {% endblock %}

  {% block javascripts %}
    {{ encore_entry_script_tags('home') }}
  {% endblock %}