{% extends '@Mobicoop/base.html.twig' %}

{% block title %}{{ metaDescription }}{% endblock %}

{% block body %}
    <section class="header hero">
    </section>
    <section class="hero">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Mobicoop
                </h1>
                <h2 class="subtitle">
                    Mobicoop homepage
                </h2>
            </div>
        </div>
    </section>

{% endblock %}