<div class="container">
  <h2 class="is-size-3">
    Qu'est-ce qu'une communauté?
  </h2>
  <p>Une communauté est un regroupement d’inscrits ayant un intérêt en commun. Elle permet par exemple d’identifier les salariés d’une entreprise, d’une zone d’activités, les personnes fréquentant une salle de spectacle ou encore les habitants d’une commune, pour faciliter les mises en relation des covoitureurs.
  </p>
</div>
