{% extends '@Mobicoop/base.html.twig' %}

{% block title %}Les Communautés
{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags("#{assets_prefix ?? ''}community/communities") }}

{% endblock %}
{% block main %}

    <br/><br/>
    <div class="layout justify-center"
         outlined
         tile>
        <div class="flex xs10">
            <community-help
                    :paths="{{ {'community_create':path('community_create')}|json_encode }}"></community-help>
            <br/><br/>
            <community-list
                    :communities="{{ communities|json_encode(1) }}"
            ></community-list>
            <br/><br/>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags("#{assets_prefix ?? ''}community/communities") }}
{% endblock %}