{% extends '@Mobicoop/base.html.twig' %}
{# @var form \Symfony\Component\Form\FormView #}
{% block title %}{% trans from 'ui' %}Communautés{% endtrans %}{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags("#{assets_prefix ?? ''}community/createCommunity") }}

{% endblock %}
{% block main %}

<div class="layout justify-center"
     outlined
     tile>
    <div class="flex xs10">
    <community-create
			:user="{{ app.user|json_encode }}"
            :sent-token="{{ csrf_token('communities-post') }}">
    </community-create>
    </div>
    <div>
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags("#{assets_prefix ?? ''}community/createCommunity") }}
{% endblock %}