{
    "contacts":
    [
        {        
            "label":"infos",
            "To":[
                "contact@yourdomain.com","contact2@yourdomain.com"
            ],
            "Cc":[
                "contact@yourdomain.com","contact2@yourdomain.com"
            ],
            "Bcc":[
                "contact@yourdomain.com","contact2@yourdomain.com"
            ],
            "objectCode":"contactInfos"
        },
        {        
            "label":"technicalIssues",
            "To":[
                "contact@yourdomain.com","contact2@yourdomain.com"
            ],
            "Cc":[
                "contact@yourdomain.com","contact2@yourdomain.com"
            ],
            "Bcc":[
                "contact@yourdomain.com","contact2@yourdomain.com"
            ],
            "objectCode":"contactTechnicalIssues"
        },
        {        
            "label":"partnership",
            "To":[
                "contact@yourdomain.com","contact2@yourdomain.com"
            ],
            "Cc":[
                "contact@yourdomain.com","contact2@yourdomain.com"
            ],
            "Bcc":[
                "contact@yourdomain.com","contact2@yourdomain.com"
            ],
            "objectCode":"contactPartnership"
        }
    ]
}