{# CAREFUL : Some client might need to replicate this template #}
{% extends 'communication/fr/email/notification/base.html.twig' %}
{% block body %}
    <p>Attention dans quelques jours vos trajets enregistrés ne seront plus valables sur votre profil et ne seront donc plus visibles par les autres covoitureurs.</p>

    {# <p>Vous êtes maintenant plus de @NbInscrits à utiliser le service ! Partagez vos trajets et trouvez votre bonheur !</p> #}
{% endblock %}