{# CAREFUL : Some client might need to replicate this template #}
{% extends 'communication/fr/email/notification/base.html.twig' %}
{% block body %}
    {% set reasonId = context.paymentProfile.refusalReason %}
    <p>Bonjour,</p>
    <p>Notre prestataire de paiement MANGOPAY a refusé votre document d'identité pour la raison suivante : <strong>{{ "reason#{reasonId}" |trans }}</strong></p>
    <p>Nous vous rappelons les éléments suivants :</p>
    <ul>
        <li>les pièces d’identité reçues doivent être de bonne qualité visuelle, sans flash ni reflet apparent, et avec une bande MRZ complètement lisible.</li>
        <li>Le recto et verso de votre pièce doivent être sur un même fichier.</li>
        <li>Enfin, votre prénom et nom sur mobicoop.fr doivent être les mêmes que sur la pièce d'identité.</li>
    <p>Pour en savoir plus sur les conditions de validation de la pièce d'identité, vous pouvez vous référer<strong><a href="https://support.mangopay.com/s/article/What-are-the-reasons-for-a-document-rejection?language=fr" title="">ici</a></strong>.</p>
{% endblock %}
