{# CAREFUL : Some client might need to replicate this template #}
{% extends 'communication/fr/email/notification/base.html.twig' %}
{% block body %}
    <p>Votre document d’identité transmis a été vérifié et accepté.</p>
{% endblock %}
