{# CAREFUL : Some client might need to replicate this template #}
{% extends 'communication/fr/email/notification/base.html.twig' %}
{% block body %}
    <p>Je me permets de vous relancer concernant le paiement des covoiturages que nous avons réalisés ensemble pour un montant de {{context.amount}} € (par trajet).</p>
{% endblock %}