# symfony / api
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/

# jwt
/config/jwt/*.pem

# params
/config/params/**/*.json

# import and upload
/public/import/Avatar/*
/public/import/Community/*
/public/import/Event/*
/public/export/carpool/*
/public/maintenance.enable

# tools
/tools/php-cs-fixer/vendor/
/tools/php-mess-detector/vendor/
.php-cs-fixer.cache

# nginx
/nginx/

# evolution
/evolution/
